@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

#current-menu{
    margin-top: 20px;
    text-align: center;
}

#mainDiv{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.img{
    height: 200px;
    width: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card{
    width: 260px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    border: none;
}

.cardName{
    font-size: 18px;
    text-transform: capitalize;
    margin-left: 5px;
    font-weight: bold;
}

.cardPrice{
    background-color: #fdf7c4;
    padding: 5px;
    border-radius: 10px;
    margin-right: 5px;
}

.cardDesc{
    margin-left: 5px;
    margin-right: 5px;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer{
    position: absolute;
    bottom: 0;
}