@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body{
    height: 160vh;
}

.bg-svg{
    position: fixed;
    bottom: 0;
    user-select: none;
    z-index: -100;
}

.itemInfo{
    height: 40px;
}

#current-menu{
    margin-top: 20px;
    text-align: center;
}

#mainDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

#filter{
    display: flex;
    justify-content: center;
}

.menub{
    width: 90px;
    height: 30px;
    text-align: center;
    background-color: #fdf7c4;
    border: none;
    border-radius: 5px;
    margin: 10px;
}

.img-container{
    max-height: 200px;
    max-width: 250px;
    overflow: hidden;
    border-radius: 10px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.img{
    height: 200px;
    width: 250px;
    object-fit: cover;
    transition: 0.5s;
}

.img:hover{
    transform: scale(1.15);
}

/* .favorite-btn{
    position: absolute;
    right: 15px;
    top: 15px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-image: radial-gradient(red 69%,#0000 70%) 84.5% fill/100%;
    clip-path: polygon(-41% 0,50% 91%, 141% 0)
} */

.favorite-btn{
    position: absolute;
    right: 15px;
    top: 15px;
    width: 30px;
    height: 30px;
    clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    );
    border: none;
}

.card{
    width: 260px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    border: none;
}

.cardName{
    font-size: 18px;
    text-transform: capitalize;
    margin-left: 5px;
    font-weight: bold;
}

.cardPrice{
    background-color: #fdf7c4;
    padding: 5px;
    border-radius: 10px;
    margin-right: 5px;
}

.cardCategory{
    margin-left: 5px;
    margin-right: 5px;
}

.cardDesc{
    margin-left: 5px;
    margin-right: 5px;
}

.title-price{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btnDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn-plus-minus{
    width: 50px;
    color: white;
    border-radius: 10px;
    border: none;
    margin-bottom: 5px;
}

.btn-plus{
    margin-right: 5px;
    background-color: #7fff00;
}

.btn-minus{
    margin-left: 5px;
    background-color: #ff0000;
}